<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title">
  </head>
  <body>
    <h1>Intro to express</h1>
    <p> <%= bottles %> Bottles of beer on the wall </p>

    <% if (bottles > 0) { %>
      <a href="/<%=next%>">Take one round and drink it all down</a>
      <% } else { %>
      <a href="">Start Over></a>
    <% } %>
  </body>
</html>
